@charset "utf-8";
/* CSS Document */

/* Celular           <768px
Tablet               ≥768px
Medium Desktops      ≥992px
Large Desktops       ≥1200px*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html
{
  height: 100%;
}
body
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
.container-fluid
{
  margin: 0px;
  padding: 0px;
}
.row
{
  margin: 0%;
  padding: 0%;
}
.col, .col-6, .col-md-6, .col-2, .col-10 
{
  margin: 0%;
  padding: 0%;
}
ul, li, h1, p
{
  margin: 0%;
  padding: 0%;
}

/* Móvil */
@media (max-width: 768px)
{
.anchopant
{
  width: 100%;
}
}
/* Pantalla mediana */
@media (min-width: 768px)
{
.anchopant
{
  width: 100%;
}
.bckg-cont-prod1
{
  height: 800px;
  background: linear-gradient(to top, white 0%, white 50%, #F8F7FB 50%, #F8F7FB 100%);
}
.row-prod1
{
  padding-top: 16%!important;
}
.row-prod2
{
  padding-top: 5%!important;
}
.titulo-prod1
{
  width: 80%;
  margin-left: 10%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 0.075em;
  color: #006699;
}
.texto-prod1
{
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 196.69%;
  text-align: center;
  letter-spacing: 0.075em;
  color: #0D273E;
}
.row-prod3
{
  height: 90px;
  padding-top: 4%!important;
  padding-bottom: 8%!important;
}
.bckg-cont-prod2
{
  background-color: #F8F7FB;
}
/* Pantalla Productos */
.wrap
{
  width: 90%;
  margin-left: 5%;
}
ul.tabs
{
  width: 100%;
  list-style: none;
  display: flex;
}
ul.tabs li
{
  width: 10%;
}
ul.tabs li a
{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #006699;
  display: block;
  padding: 20px 0px;
}
.active .tab-text
{
  color:  #33A7C8;
}
.secciones
{
  width: 100%;
  margin-bottom: 10%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.secciones article
{
  padding: 30px;
}
ul.btn-prod
{
  width: 80%;
  margin-left: 10%;
  list-style: none;
}
ul.btn-prod li
{
  width: 100%;
  margin-bottom: 5%;
  padding: 3%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-left-style: solid;
  border-left-color: #006699;
  text-align: center;
}
.active-btn-prod
{
  border-left-color: #33A7C8!important;
}
ul.btn-prod li a
{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.prod-img
{
  width: 60%;
  margin-left: 20%;
}
.img_aditivos
{
  width: 80%;
  margin-left: 10%;
}
.texto_insumos
{
  width: 90%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.075em;
  color: #0D273E;
}
.texto_aditivos
{
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 196.69%;
  text-align: center;
  letter-spacing: 0.075em;
  color: #0D273E;
}
}

/* Pantalla grande */
@media (min-width: 1400px)
{
.anchopant
{
  width: 100%;
}
.bckg-cont-prod1
{
  height: 800px;
  background: linear-gradient(to top, white 0%, white 50%, #F8F7FB 50%, #F8F7FB 100%);
}
.row-prod1
{
  padding-top: 16%!important;
}
.row-prod2
{
  padding-top: 5%!important;
}
.titulo-prod1
{
  width: 80%;
  margin-left: 10%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 0.075em;
  color: #006699;
}
.texto-prod1
{
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 196.69%;
  text-align: center;
  letter-spacing: 0.075em;
  color: #0D273E;
}
.row-prod3
{
  height: 90px;
  padding-top: 4%!important;
  padding-bottom: 8%!important;
}
.bckg-cont-prod2
{
  background-color: #F8F7FB;
}
/* Pantalla Productos */
.wrap
{
  width: 90%;
  margin-left: 5%;
}
ul.tabs
{
  width: 100%;
  list-style: none;
  display: flex;
}
ul.tabs li
{
  width: 10%;
}
ul.tabs li a
{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #006699;
  display: block;
  padding: 20px 0px;
}
.active .tab-text
{
  color:  #33A7C8;
}
.secciones
{
  width: 100%;
  margin-bottom: 10%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.secciones article
{
  padding: 30px;
}
ul.btn-prod
{
  width: 80%;
  margin-left: 10%;
  list-style: none;
}
ul.btn-prod li
{
  width: 100%;
  margin-bottom: 5%;
  padding: 3%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-left-style: solid;
  border-left-color: #006699;
  text-align: center;
}
.active-btn-prod
{
  border-left-color: #33A7C8!important;
}
ul.btn-prod li a
{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.prod-img
{
  width: 30%;
  margin-left: 35%;
}
.texto_insumos
{
  width: 90%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.075em;
  color: #0D273E;
}
.img_aditivos
{
  width: 80%;
  margin-left: 10%;
}
.texto_aditivos
{
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 196.69%;
  text-align: center;
  letter-spacing: 0.075em;
  color: #0D273E;
}
}